@import '@evergreen/tokens';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family-text);
  font-size: var(--typography-body-medium-size);
  line-height: var(--typography-body-medium-line-height);
  color: var(--text-base-primary);
  background-color: var(--box-page);
}
