.link {
  display: inline-flex;
  align-items: center;
  border: none;
  background: none;
  padding: 0;
  font-family: var(--eds-family-sans);
  font-weight: var(--eds-body-medium-strong-weight);
  text-decoration: none;
  cursor: default;
  transition: var(--motion-transition-hover);
}

.link[aria-disabled='true'] {
  cursor: not-allowed;
}

.lg {
  font-size: var(--eds-body-medium-strong-size);
  line-height: var(--eds-body-medium-strong-line-height);
}

.md {
  font-size: var(--eds-body-small-strong-size);
  line-height: var(--eds-body-small-strong-line-height);
}

.sm {
  font-size: var(--eds-footnote-strong-size);
  line-height: var(--eds-footnote-strong-line-height);
}

.brand {
  color: var(--text-brand-primary);
}

.brand:active:not([aria-disabled='true']) {
  color: var(--text-brand-secondary);
}

.brand[aria-disabled='true'] {
  color: var(--text-base-quaternary);
}

.theme {
  color: var(--text-base-primary);
}

.theme:active:not([aria-disabled='true']) {
  color: var(--text-base-secondary);
}

.theme[aria-disabled='true'] {
  color: var(--text-base-quaternary);
}
