.root {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: var(--icon-md);
  height: var(--icon-md);
  min-width: var(--icon-md);
  min-height: var(--icon-md);
  padding: 0;
  border: none;
  border-radius: var(--radius-full);
  background: var(--material-hide);
  box-shadow: inset 0 0 0 var(--stroke-lg) var(--stroke-base-quaternary);
  cursor: default;
  composes: motion-ease is-hover from global;
}

.root:disabled {
  cursor: not-allowed;
  opacity: 1;
}

.filled {
  box-shadow: none;
  background: var(--material-brand-primary);
}

.root.filledDisabled {
  box-shadow: none;
  background: var(--status-disable-brand-weaken);
}

.root.uncheckedDisabled {
  box-shadow: inset 0 0 0 var(--stroke-lg) var(--status-disable-base);
  background: var(--status-disable-base-weaken);
}

.radioDot {
  width: var(--scale-1-5);
  height: var(--scale-1-5);
  border-radius: var(--radius-full);
  background: var(--text-same-white-primary);
}

.hoverPreviewDot {
  display: none;
  width: var(--scale-1-5);
  height: var(--scale-1-5);
  border-radius: var(--radius-full);
  background: var(--stroke-base-quaternary);
}

.root.isUnchecked:not(:disabled):hover .hoverPreviewDot {
  display: block;
}

.root.isUnchecked:not(:disabled):hover .radioDot {
  display: none;
}
