.typography {
  margin: 0;
  color: var(--text-base-primary);
  font-family: var(--eds-family-sans);
}

.muted {
  color: var(--text-base-secondary);
}

.display {
  font-size: var(--eds-display-size);
  font-weight: var(--eds-display-weight);
  line-height: var(--eds-display-line-height);
}

.h1 {
  font-size: var(--eds-headline-size);
  font-weight: var(--eds-headline-weight);
  line-height: var(--eds-headline-line-height);
}

.h2 {
  font-size: var(--eds-title-size);
  font-weight: var(--eds-title-weight);
  line-height: var(--eds-title-line-height);
}

.h3 {
  font-size: var(--eds-body-small-size);
  font-weight: var(--eds-body-small-strong-weight);
  line-height: var(--eds-body-small-line-height);
}
.body {
  font-size: var(--eds-body-medium-size);
  line-height: var(--eds-body-medium-line-height);
}

.body-sm {
  font-size: var(--eds-body-small-size);
  line-height: var(--eds-body-small-line-height);
}

.caption {
  font-size: var(--eds-footnote-size);
  line-height: var(--eds-footnote-line-height);
}

.code {
  font-family: var(--eds-family-sans);
  font-size: var(--eds-body-small-size);
  line-height: var(--eds-body-small-line-height);
}
