.eventHover :global(.eds-pagination-item) {
  background-color: var(--event-hover);
  border-color: var(--stroke-hide);
}

.eventHover :global(.eds-pagination-item .eds-icon) {
  color: var(--stroke-base-primary);
}

.eventActive :global(.eds-pagination-item) {
  background-color: var(--event-hover);
  border-color: var(--stroke-hide);
}

.eventActive :global(.eds-pagination-item .eds-icon) {
  color: var(--stroke-base-secondary);
}

.eventFocus :global(.eds-pagination-item) {
  background-color: var(--event-hover);
  border-color: var(--stroke-hide);
}

.eventFocus :global(.eds-pagination-item .eds-icon) {
  color: var(--stroke-base-primary);
}
