.eventSnapshot :global(.eds-input-control) {
  pointer-events: none;
  caret-color: transparent;
}

.eventHover :global(.eds-input-field .eds-input-control::placeholder) {
  color: var(--text-base-secondary);
}

.eventActive :global(.eds-input-field) {
  background-color: var(--material-face-quaternary);
  box-shadow: inset 0 0 0 var(--stroke-xl) var(--stroke-color-brand);
}

.eventActive :global(.eds-input-field .eds-input-control) {
  color: var(--text-base-primary);
}

.eventActive :global(.eds-input-field .eds-input-control::placeholder) {
  color: var(--text-base-quaternary);
}

.eventFocus :global(.eds-input-field) {
  background-color: var(--material-face-quaternary);
  box-shadow: inset 0 0 0 var(--stroke-xl) var(--stroke-color-brand);
}

.eventFocus :global(.eds-input-field .eds-input-control::placeholder) {
  color: var(--text-base-quaternary);
}
