@import '@eds/desktop-tokens';
@import '@eds/desktop-tokens/tag';
@import './fonts.css';
@import '../motion/tokens.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
}

html {
  overscroll-behavior: none;
}

body {
  overscroll-behavior: none;
  font-family: var(--eds-family-sans);
  font-size: var(--eds-body-small-size);
  line-height: var(--eds-body-small-line-height);
  color: var(--text-base-primary);
  background: var(--material-brand-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}
