.footer {
  flex: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  margin-top: calc(var(--scale-40) + var(--scale-20));
  margin-bottom: var(--scale-14);
  color: var(--text-base-tertiary);
}

.line {
  margin: 0;
}

.emphasis {
  font-weight: 700;
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-2);
  margin-top: var(--scale-3);
}

.copyright {
  margin-top: var(--scale-12);
}

.link {
  color: inherit;
  text-decoration: underline;
  text-underline-offset: 0.15em;
}

.link:hover {
  color: var(--text-base-secondary);
}
