.panel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--spacing-8);
  width: 100%;
  padding: var(--spacing-5) var(--spacing-6);
  border-radius: var(--radius-lg);
  background: var(--material-card-shallow);
}

.labels,
.values {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--scale-2-5);
}

.label {
  color: var(--text-base-secondary);
  font-size: var(--typography-body-small-size);
  line-height: var(--typography-body-small-line-height);
  font-weight: var(--typography-body-small-weight);
  white-space: nowrap;
}

.value {
  color: var(--text-base-secondary);
  font-size: var(--typography-body-small-size);
  line-height: var(--typography-body-small-line-height);
  font-weight: var(--typography-body-small-strong-weight);
  white-space: nowrap;
}
